{%extends 'bizz/base.html'%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    {{block.super}}

    <div class="table-responsive text-nowrap">
         <h2>Order Summary</h2>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Item Title</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">Total Item Price</th>
              
            </tr>
          </thead>
          <tbody>
            {% for orderitems in object.orderitems.all %}
            <tr>
              <th scope="row"> {{ forloop.counter }} </th>
              <td> {{ orderitems.item }} </td>
              <td> 
                {% if orderitems.item.discount_price %}
                 Ksh {{ orderitems.item.discount_price }}
                {% else %}
                Ksh {{ orderitems.item.price }}
                {% endif %}  
              </td>
              <td> {{ orderitems.quantity }} </td>
              <td> 
                {% if orderitems.item.discount_price %}
                Ksh {{ orderitems.get_total_discount_item_price }}
                <span class="label label-primary">saving Ksh {{ orderitems.get_amount_saved }}</span>
                {% else %}
                Ksh {{ orderitems.get_total_item_price }}
                {% endif %}
              </td> 
            </tr>
            {% empty %}
            <tr>
              <td colspan="5" ><h1>Your Cart Is Empty</h1></td>
            </tr>
            <tr>
              <td colspan="5">
                <a class="btn btn-primary" style="float: right; margin-right: 5px;" href="{% url 'home' %}">Continue Shopping</a></td>
              </td>
            </tr>
            {% endfor %}
            {% if object.get_total %}
            <tr>
              <td colspan="4"><b>Order Total</b></td>
              <td> Ksh {{ object.get_total }} </td>
            </tr>
            <tr>
              <td colspan="4">
                <a class="btn btn-warning" style="float: right;" href="{% url 'checkout' %}">Proceed To Checkout</a>
                <a class="btn btn-primary" style="float: right; margin-right: 5px;" href="{% url 'home' %}">Continue Shopping</a></td>
            </tr>
            {% endif %}
          </tbody> 
        </table>
      
      </div>
      </div>
      </div>
    {% endblock %}
</body>
</html>
