{%extends 'bizz/base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    {{block.super}}
    
    <div class="blog">
    <H4 style="font-family: 'Bad Script', cursive; font-size: 30px; font-weight: 900; color: aliceblue; color: goldenrod; "> MAKING YOUR HOME YOUR WAY </H4>

    <div class="box">
        <h1 style="font-family: 'Acme', sans-serif; font-size: 50px; font-weight: 900; color: black"> YOUR HOME <span style="color: red;font-size: 55px;">OUR</span> </h1>
        <h1 style="font-family: 'Acme', sans-serif; font-size: 30px; font-weight: 900; color: white">  DESIGN </h1>
        
    </div>
       <a href="{% url 'home' %}" ><p class="a">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
           Shop Now
        </p></a>
    </div>
    {% endblock %}
</body>
</html>