{%extends 'bizz/base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    {{block.super}}
    
    <div class="blog">
    <H4 style=" color: aliceblue; "> MAKING YOUR HOME YOUR WAY </H4>

    <div class="box">
        <h1 style="color: black"> YOUR HOME OUR </h1>
        <h1 style="color: white">  DESIGN </h1>
        <br>
       <a href="" ><p class="a">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
           Shop Now
        </p></a>
    </div>
    </div>
    {% endblock %}
</body>
</html>